 
/*navigation thing*/
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav a:hover {
    background-color: #222;
}

 
 /* Main */
  h1 {
    padding: 0.2em;;
    font-size: 4em;
    text-align: center;
    color: #d43e01;
}

/* subheader */
h2 {
    text-align: center;
    font-size: 2em;
    color: #fff;
}

/* content header */
h3 {
    margin-top: 0em;
    font-size: 1em;
    text-align: left;
    color: #d43e01;
}

/* The standard text */
p {
    padding: 0.2em;
    text-align: center;
    color: #fff;
}

/* sections */
Group
{
    float: center;
    padding: 20px;
    width: 100%;
    background-color: #050505;
}
